service: yt-bazra-download
frameworkVersion: "4"

provider:
  name: aws
  runtime: python3.11
  region: ap-south-1
  versionFunctions: false
  environment:
    YTDLP_COOKIES_B64: ${env:YTDLP_COOKIES_B64, ''}
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "s3:PutObject"
        - "s3:GetObject"
      Resource:
        - "arn:aws:s3:::yt-bazra-download-content/*"

package:
  individually: true
  exclude:
      - node_modules/**
      - frontend/**
      - venv/**
      - .venv/**
      - test_suite/**
      - .serverless/**
      - .git/**
      - __pycache__/**

plugins:
  - serverless-finch
  - serverless-python-requirements

custom:
  client:
    bucketName: yt-bazra-download
    distributionFolder: frontend/dist/frontend/
    errorDocument: index.html

  pythonRequirements:
    dockerizePip: true
    dockerFile: Dockerfile
    dockerBuildCmdExtraArgs: ["--platform", "linux/amd64"]
    dockerRunCmdExtraArgs: ["--platform", "linux/amd64"]
    invalidateCaches: true
    useStaticCache: false
    useDownloadCache: false
    slim: true
    strip: false
    noDeploy:
      - boto3
      - botocore
      - jmespath
      - s3transfer
      - python-dateutil
      - urllib3
      - six

functions:
  downloadThisUrl:
    handler: backend/apis/downloadThisUrl.downloadThisUrl
    timeout: 29 # API Gateway hard limit for Lambda proxy integrations
    events:
      - http:
          path: /downloadThisUrl
          method: POST
          cors: true

  downloadAudioForThisUrl:
    handler: backend/apis/downloadAudioForThisUrl.downloadAudioForThisUrl
    timeout: 29 # API Gateway hard limit for Lambda proxy integrations
    events:
      - http:
          path: /downloadAudioForThisUrl
          method: POST
          cors: true
        
  getVideoEntities:
    handler: backend/apis/getVideoEntities.getVideoEntities
    timeout: 29
    events:
      - http:
          path: /getVideoEntities
          method: POST
          cors: true

resources:
  Resources:
    YTBazraDownloadContent:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: yt-bazra-download-content

    BucketPolicyForYTBazraDownloadContent:
      Type: "AWS::S3::BucketPolicy"
      Properties:
        PolicyDocument:
          Statement:
            - Sid: PublicReadForGetBucketObjects
              Effect: Allow
              Principal: "*"
              Action:
                - "s3:GetObject"
                - "s3:PutObject"
              Resource: arn:aws:s3:::yt-bazra-download-content/*
        Bucket:
          Ref: YTBazraDownloadContent
