<div class="video-card" *ngIf="!isErrorPresent()">
    <nz-spin [nzSpinning]="isLoading">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="video-card-description">
            <span>{{videoEntities.videoName}}</span>
            <form>
                <mat-form-field appearance="outline">
                    <mat-label>Download Options</mat-label>
                    <mat-select [formControl]="videoSelectControl">
                        <mat-optgroup *ngFor="let group of videoGroups" [label]="group.name">
                            <mat-option *ngFor="let option of group.options" [value]="option.value">
                                {{option.viewValue}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="video-card-buttons">
            <button mat-raised-button (click)="downloadOnClick()">Download</button>
        </div>
    </nz-spin>
</div>
<div *ngIf="isErrorPresent()">
    <span>{{errorMessage}}</span>
</div>