.home-container {
    .main-content {
        min-height: calc(100vh - 60px);
    }

  .application-details-row {
    h1 {
      color: white;
      font-size: 4em;
      text-decoration: overline;
    }
  }

  .image-row {
    img {
      margin-top: 5vh;
      height: 200px;
    }
  }

  .text-items {
    margin-bottom: 1%;
    font-size: 18px;
    color: white;
  }

  .url-field-items {
    width: 51%;

    input {
      border-color: white;
      background: transparent;
      color: white;
      width: 700px;
    }

    .download-button {
      background: white;
      color: #868686;
      border: 1px solid white;
    }
  }

  .error-row{
    color: white;  
    margin-top: 1%;
  }

  .contrib-row{
      bottom:0;
      color: white;

      a{
          color: white;
          text-decoration: underline;
      }
  }
}
