.home-container {
  .application-details-row {
    h1{
        color: white;
        font-size: 4em;
        text-decoration: overline;
    }
  }
  .image-row {
    img {
      margin-top: 5vh;
      height: 200px;
    }
  }
}
