<div class="home-container">
    <div fxLayout="row" fxLayoutAlign="center center" class="image-row">
        <img src="../../../assets/youtube-rounded.svg" alt="">
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="application-details-row">
        <h1>Youtube Downloader</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="text-items">
        <span>Drop the link for the youtube video you want to download</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center" class="url-field-items">
            <nz-spin [nzSpinning]="isLoading">
                <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                    <input type="text" nz-input #urlElement [(ngModel)]="urlValue" />
                </nz-input-group>
                <ng-template #suffixButton>
                    <button nz-button nzType="primary" nzSize="large" nzSearch class="download-button"
                        (click)="onDownloadClick($event)">
                        Download
                    </button>
                </ng-template>
            </nz-spin>
            </div>
    </div>
</div>